{% extends 'index.html' %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">
  <h1>Login</h1>
  <div class="form-group col-lg-6">
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
  </div>
</div>
{% endblock %}
