{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Environment</th>
      <th>Date de publication</th>
    </tr>
    {% for data in datas %}
    <tr>
      <td>{{ data['environment'] }}</td>
      <td>{{ data['pub_date']}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
