{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">
  <h3>{{ item }}</h3>
  <table class="table table-striped table-bordered">
    {% for data in datas %}
    <tr>
      {% if data.name is defined %}
      <td>{{ data.name }}</td>
      {% else %}
      <td>{{ data.login }}</td>
      {% endif %}
      {% if data.env is defined %}
      <td>
        {% for env in data.env %}
          {{ env }},
        {% endfor %}
      </td>
      {% endif %}
      {% if data.email is defined %}
      <td>{{ data.email }}</td>
      {% elif data.short is defined %}
      <td>{{ data.short }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
