{% extends "index.html" %}
{% block content %}
<div class="col-lg-10 col-lg-offset-1">
  <div class="alert alert-danger" role="alert">
    {{ path }} does not exist.<br/>
    You are lost!
  </div>
</div>
{% endblock %}
