{% extends "bootstrap/base.html" %}
<head>
  <title>Sakeyra</title>
</head>
<body>
{% block navbar %}
<div class="col-lg-10 col-lg-offset-1">
<nav class="navbar navbar-tabs">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Sakeyra <span class="glyphicon glyphicon-home"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav nav-tabs">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lister<span class="caret"></a>
          <ul class="dropdown-menu">
            <li><a href="/list/local">Local users</a></li>
            <li><a href="/list/remote">Remote users</a></li>
            <li><a href="/list/environment">Environment</a></li>
            <li><a href="/list/bundle">Bundle</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Creer<span class="caret"></a>
          <ul class="dropdown-menu">
            <li><a href="/set/local">Local users</a></li>
            <li><a href="/set/remote">Remote users</a></li>
            <li><a href="/set/environment">Environment</a></li>
            <li><a href="/set/bundle">Bundle</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Update<span class="caret"></a>
          <ul class="dropdown-menu">
            <li><a href="/update/local">Local users</a></li>
            <li><a href="/update/remote">Remote users</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Supprimer<span class="caret"></a>
          <ul class="dropdown-menu">
            <li><a href="/del/local">Local users</a></li>
            <li><a href="/del/remote">Remote users</a></li>
            <li><a href="/del/environment">Environment</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></a>
          <ul class="dropdown-menu">
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
{% endblock %}
{% block messages %}
<div class=
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
{% block content %}
{% endblock %}
  </div>
</body>
</html>
