{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">
  <form action="" method="post" role="form">
    <div class="form-group form-horizontal">
      {% for data in datas %}
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" id="id" name="id" value="{{ data.id }}">
        </span>
        <input for="name" class="form-control" type="text" placeholder="{% if data.name is defined %}{{ data.name }}{% else %}{{ data.login }}{% endif %} - {% if data.env is defined %}{% for env in data.env %}{{ env }} {% endfor %}{% endif %}" readonly>
      </div>
      {% endfor %}
    </div>
    <div class="form-group form-horizontal col-lg-6">
      <button type="submit" class="btn btn-success">Delete</button>
    </div>
  </form>
</div>
{% endblock %}
