<!-- extend from base layout -->
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">
  <h1>Creation d'un nouveau bundle de clés</h1>
  <div class="form-group col-lg-6">
    <form class="form-horizontal" action="" method="post" role="form">
      <label>Environment</label>
      <select id="env" name="env" class="form-control" onchange="showUsers()">
        <option name="env" value='' selected></option>
        {% for env in envs -%}
        <option name="env" value='{{ env.name }}'>{{ env.name }}</option>
        {% endfor -%}
      </select>
      <div id="listUsers" style="visibility:hidden">
      {% for local in locals -%}
      <div name="{{local.env}}" class="input-group col-lg-6 localUser">
      <label>Utilisateur: {{ local.login }}</label>
      <select id="local" name="local" multiple class="form-control">
        {% for remote in remotes -%}
        <option class="remoteUser" env="{{ remote.env }}"
          value='{"local": "{{ local.login }}", "email": "{{ remote.email }}", "pubkey": "{{ remote.pubkey }}"}'>{{ remote.name }}</option>
        {% endfor -%}
      </select>
      </div>
      {% endfor -%}
      </div>
      <br/>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <script type="text/javascript">
      function showUsers() {
        document.getElementById("listUsers").style.visibility = "visible";
        hideUsers();
      }
      function hideUsers() {
        var envGlobal = document.getElementById('env').value;
        var envLocal = document.getElementsByClassName('localUser');
        var envRemote = document.getElementsByClassName('remoteUser');
        var envGmod = "'" + envGlobal + "'";
        // console.log(envGmod);
        for (let item of envLocal) {
          // console.log(item, typeof item);
          // console.log(item.attributes.name.value, typeof item.attributes.name.value);
          env = item.attributes.name.value
          if (env.includes(envGmod)) {
            // console.log(env, "True");
            item.style.display = 'block';
          } else {
            // console.log(env, "False");
            item.style.display = 'none';
          }
        }
        for (let item of envRemote) {
          // console.log(item, typeof item);
          // console.log(item.attributes.env.value, typeof item.attributes.env.value);
          env = item.attributes.env.value
          if (env.includes(envGmod)) {
            // console.log(env, "True");
            item.style.display = 'block';
          } else {
            // console.log(env, "False");
            item.style.display = 'none';
          }
        }
      }
    </script>
  </div>
</div>
{% endblock %}
