<!-- extend from base layout -->
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">

  <h1>Creation d'un nouvel environment</h1>
  <div class="form-group col-lg-6">
    <form class="form form-horizontal" method="post" role="form" name="setenv">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.name) }}
      {{ wtf.form_field(form.short) }}
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>

</div>
{% endblock %}
