<!-- extend from base layout -->
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">

  <h1>Creation d'un nouvel utilisateur local</h1>
  <h3>par exemple: <i>root</i>, <i>maintenance</i>...</h3>
  <div class="form-group col-lg-6">
    <form class="form form-horizontal" method="post" role="form" name="setuser">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.login) }}
      {{ wtf.form_field(form.pubkey) }}
      <div class="input-group col-lg-6">
      <select name="envs" class="form-control">
        {% for envs in envslist %}
        <option id="envs" name="{{ envs.name }}" value="{{ envs.name }}">{{ envs.name }}</option>
        {% endfor %}
      </select>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>

</div>
{% endblock %}
