<!-- extend from base layout -->
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">
  <div class="form-group col-lg-6">
    <p>localUser</p>

    <select id="localUser" onchange="selectUser()">
      <option id='' name='' value='' selected></option>
    {% for local in locals -%}
      <option value='{ "id": "{{local.id}}", "login": "{{local.login}}", "pubkey": "{{local.pubkey}}", "env": "{{local.env}}"}'>{{ local.login }} {{ local.env }}</option>
    {% endfor -%}
    </select>
    <br/>

    <form class="form form-horizontal" method="post" role="form" name="setuser">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.id)}}<span id="phid"></span>
      {{ wtf.form_field(form.login) }}<span id="phlogin"></span>
      {{ wtf.form_field(form.pubkey) }}
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <script type="text/javascript">
      function selectUser() {
        var usr = document.getElementById("localUser").value;
        jusr = JSON.parse(usr)
        document.getElementById("id").value = jusr.id;
        document.getElementById("phid").innerHTML = jusr.id;
        document.getElementById("login").value = jusr.login;
        document.getElementById("phlogin").innerHTML = jusr.login;
        document.getElementById("pubkey").value = jusr.pubkey;
        // document.getElementById("envs").value = jusr.env;
      }
    </script>
  </div>
</div>
{% endblock %}
