<!-- extend from base layout -->
{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">
  <div class="form-group col-lg-6">
    <p>remoteUser</p>

    <select id="remoteUser" onchange="selectUser()">
      <option id='' name='' value='' selected></option>
      {% for remote in remotes -%}
      <option value='{ "id": "{{remote.id}}", "login": "{{remote.name}}", "email": "{{remote.email}}", "pubkey": "{{remote.pubkey}}", "env": "{{remote.env}}"}'>{{ remote.name }} {{ remote.env }}</option>
      {% endfor -%}
    </select>
    <br/>

    <form class="form form-horizontal" method="post" role="form" name="setuser">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
      {{ wtf.form_field(form.id) }}<span id="phid"></span>
      {{ wtf.form_field(form.name) }}<span id="phname"></span>
      {{ wtf.form_field(form.email) }}
      {{ wtf.form_field(form.pubkey) }}
      <div class="input-group col-lg-6">
      <select name="envs" multiple class="form-control">
        {% for envs in envslist %}
        <option id="envs" name="{{ envs.name }}" value="{{ envs.name }}">{{ envs.name }}</option>
        {% endfor %}
      </select>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <script type="text/javascript">
      function selectUser() {
        var usr = document.getElementById("remoteUser").value;
        jusr = JSON.parse(usr)
        document.getElementById("id").value = jusr.id;
        document.getElementById("phid").innerHTML = jusr.id;
        document.getElementById("name").value = jusr.login;
        document.getElementById("phname").innerHTML = jusr.login;
        document.getElementById("email").value = jusr.email;
        document.getElementById("pubkey").value = jusr.pubkey;
      }
    </script>
  </div>
</div>
{% endblock %}
